.admin-category {
    .search-category-form {
        .select2 {
            width: 100% !important;
        }
        .search {
            margin-left: 1.5rem;
        }
    }
    @media (max-width: 480px) {
        .search-category-form {
            flex-direction: column;
            .search {
                margin: 10px 0;
            }
        }
    }
}
