.admin-news-form {
    .image-upload {
        input {
            display: none;
        }
        label {
            background-color: #F0F0F0;
            width: 85%;
            height: 100px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin: auto;
            border: 1px dashed #000;
            text-transform: capitalize;
        }
    }
    .previewImg {
        width: 80%;
    }
}
